@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Open Sans;


}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;

    
}
.logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
     
}
.extra-letter{
    color:#FD6E0A ;
}
.menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.menus a{
    text-decoration: none;
    margin-right:25px ;
    padding-right:27px;
    color:  #474747;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;

}
.btn{
    border-radius: 5px;
    background: #FD6E0A; 
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    padding:5px 10px;
    border: 0px;
}
.container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}
.header{
    background:#FFF8F3;;
}
.container-left{

}
.common-h3{

}
.common-p{

}
.container-right{


}
.hardy{
    width:500px; 

}
